@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>

<ul>
    <li><p><a href="~/">Return to Check In Screen</a></p></li>
    
    <li><p><a href="~/Admin/Employee">Manage Employees</a></p></li>

    <li><p>@Html.ActionLink("Hourly Checkins Report","Hourly")</p></li>
    <li><p>@Html.ActionLink("Employee Time Card", "EmployeeTime")</p></li>
</ul>