
﻿@model IList<WebPoolCheckin.Models.Person>

<div class="container" style="clear:both; float:none; width:50em; margin:auto; text-align:center">
<h3>Please confirm your selections</h3>

@using(Html.BeginForm("ConfirmCheckin","Search")){
<div class="container" style="clear:both; float:none; width:15em; margin:auto; text-align:center">
    <ul>
    @{
        var personArray = Model.ToArray();
    for(int p=0; p < personArray.Length; p++)
    {
        var person = personArray[p];
        @Html.Hidden("CheckinPeople["+p+"]", person.Id)
        <li>@person.FirstName @person.LastName</li>
    }
    }
    </ul>
    <button>Confirm</button>
    <button id="Cancel">Cancel</button>
</div>
}
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#Cancel").button().click(function() {
                window.location="~/";
            });
        });
        
    </script>
}
