@model WebPoolCheckin.Models.Share

@{
    ViewBag.Title = "Welcome to the Pool";
}

@using (Html.BeginForm("Search", "Search"))
{
    <div style="width:30em; margin:auto; text-align:center">
        <label>Please enter your Number</label>
        @Html.TextBox("SearchText")
        @Html.ValidationSummary(false)
        <br />
        <button style="width:10em">Go</button>
        <button style="width:10em" id="clear">Clear</button>
    </div>
}
@if(Model != null){
    @Html.Partial("_Checkin");
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('img.person').click(function (e) {
                $(this).parent().children('input[type="checkbox"]').click();
            });
            $('img.no-image').parent().click(function (e) {
            });
            $("button").button();

            $('#guests').click(function (e) {
                e.preventDefault();
                $('#guests').parents('form').attr('action', '@Url.Action("CheckinGuests","Search")');
                $('#guests').parents('form').submit();
            });

            $('#clear').click(function (e) {
                e.preventDefault();
                window.location = "../..";
            });
        });
    </script>
}
