USE [applicationdata]
GO
/****** Object:  Table [dbo].[test_count]    Script Date: 7/17/2013 5:04:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_count](
	[entry_date] [datetime] NULL,
	[hour_slot] [int] NULL,
	[entry_count] [int] NULL
) ON [PRIMARY]

GO
