USE [applicationdata]
GO
/****** Object:  Table [dbo].[test]    Script Date: 7/17/2013 5:04:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test](
	[id] [int] NULL,
	[test] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
